@import "tailwindcss";

.container{
    margin-left: 50;
    padding: auto;
}

.btn-white{
    border: 2px solid black;
    text-align: center;
    border-radius: 3px;
    
}
.btn-white:hover{
    background: skyblue;
}

.refresh{
    text-align: center;
    justify-content: center;
    padding: auto;
    margin: 30px;
    
}